<table class='table table-striped'>
  <% job_results.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.company %></td>
      <td><%= job.link %></td>
      <td><%= job.location %></td>
      <td><%= job.date %></td>
    </tr>
  <% end %>
</table>