<div class="row">
  <div class="two-thirds column" style="margin-top: 15%">
    <h4>Welcome, please to be finding a job.</h1>
  </div>
</div>

<form action="/search" method="post">

<div class="row">
  <div class="two-thirds column">
    <label for="keywordsInput">Job title, skills, or keywords</label>
    <input class="u-full-width" type="text" name="keywords" value='<%= @keywords.join(" ") %>' id="keywordsInput">
  </div>
  <div class="one-third column">
    <label for="locationsInput">Zipcodes, cities, or states</label>
    <input class="u-full-width" type="text" name="locations" value='<%= @locations.join(" ") %>' id="locationsInput">
  </div>
</div>

<div class="row">
  <div class="two-thirds column"><input type="submit" class="button-primary" value="Search"></div>
  <div class="one-third column">
    <label>
      <input id="locationCheck" type="checkbox">
      <span class="label-body">Use your current location?</span>
    </label>
  </div>
</div>

</form>

<script type="text/javascript">
    document.getElementById('locationCheck').onclick = function()
    {
      if ( this.checked ) {
        document.getElementById('locationsInput').readOnly = true;
        document.getElementById('locationsInput').value = gon.location;
      } else {
        document.getElementById('locationsInput').readOnly = false;
      }
    };
</script>

<% if @results %>

<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Location</th>
        <th>Posting Date</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |job| %>
        <tr>
        <td><a href='<%= job.posting_link %>'><%= job.title %></a></td>
        <td><a href='https://www.dice.com/company/<%= job.company_id %>'>
        <%= job.company %></a></td>
        <td><%= job.location %></td>
        <td><%= job.posting_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% end %>