<h1>Dice.com Job Scraper</h1>

<form action="/" method="get">

  <div class="row">

    <div class="form-group col-md-5">
      <label for="search-text">Search criteria:</label>
      <input type="text" name="search-text" class="form-control" placeholder='<%= results[0] %>'>
    </div>

    <div class="form-group col-md-3">
      <label for="search-location">Location:</label>
      <input type="text" name="search-location" class="form-control" placeholder='<%= results[1] %>'>
    </div>

    <div class="form-group col-md-2">
      <label for="start-date">Start Date:</label>
      <input type="date" name="start-date" class="form-control" value='<%= results[2] %>'>
    </div>

    <div class="form-group col-md-2">
      <label>Search Dice.com!</label>
      <input type="submit" class="form-control btn btn-default" value="Go">
    </div>

  </div>

</form>



<h3>Results</h3>

<table class = 'table table-striped table-bordered table-condensed'>

  <tr>
    <th>Job Title</th>
    <th>Company</th>
    <th>Link</th>
    <th>Location</th>
    <th>Date Posted</th>
    <th>Company ID</th>
    <th>Job ID</th>
  </tr>

  <% results[3..-1].each do |result| %>
    <tr>

      <% unless result.nil? %>
        <% result.each do |key, value| %>

          <% if key == :link %>
            <td><a href=<%= value %> >Link</a></td>

          <% else %>
            <td><%= value %></td>
          <% end %>

        <% end %>
      <% end %>

    </tr>

  <% end %>

</table>