<% unless @jobs.nil? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Company</th>
      <th>Location</th>
      <th>Posted On</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each_with_index do |job, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= job["title"] %></td>
        <td><%= job["company"] %></td>
        <td><%= job["location"] %></td>
        <td><%= job["date"] %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<% end %>