<h1>Dashboard</h1>

<div class="row">
  <div class="col">

    <h2>Search for Jobs on Dice.com</h2>
    <p>Note: This will take a couple of minutes and the screen will look a little broken during the process.</p>

    <form action="/search" method="post">

      <label>Title Keyword:</label>
      <input type="text" name="title_keyword" class="form-control"><br>

      <label>Location:</label>
      <input type="text" name="location" class="form-control" value="<%= location %>"><br>

      <input type="submit" value="Scrape Dice.com">
    </form>
  </div> <!-- col -->

</div> <!-- row -->

<hr>
<% if keyword && location %>
<h3>Showing results for: <%= keyword %> in <%= location %> (IP: <%= user_ip %>)</h3>
<% end %>

<div class="row">
  <div class="col-12">
    <% if jobs %>
    <table class="table table-striped table-hover table-sm">
      <thead class="">
        <tr>
          <th>title</th>
          <th>company</th>
          <th>location</th>
          <th>date_posted</th>
          <th>salary</th>
          <th>remote</th>
        </tr>
      </thead>
      <tbody>
        <% jobs.each do |job| %>
        <tr>
          <td><a href="/job?id=<%= job.job_id %>"><%= job.title %></a> (<%= job.job_id %>)</td>
          <td><a href="/company?name=<%= job.company %>&location=<%= job.location %>"><%= job.company %></a> (<%= job.company_id %>)</td>
          <td><%= job.location %></td>
          <td><%= job.date_posted %></td>
          <td><%= job.salary %></td>
          <td><%= job.remote %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div> <!-- col-12 -->
</div> <!-- row -->

