<!-- ./index.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Job Scraper</title>
  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Welcome to Sinatra - Job Scraper!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Enter your search terms</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form action = "/search" method = "post">
          <div class="form-group">
            <label for="searchWord">Search word</label>
            <input type="text" class="form-control" id="search_terms" placeholder="Ruby on Rails">
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" placeholder="London">
          </div>
          <div class="form-group">
            <label for="radius">Radius</label>
            <input type="text" class="form-control" id="radius" placeholder="10">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>

      </div>
      <p></p>
    </div>

    <% if !locals[:postings].nil? %>
      <br />
      <div class="row">
        <div class="col-md-12">
          <h4>Jobs in <%= locals[:city] %>, <%= locals[:country] %></h4>
        </div>
      </div>

      <div class="row">
        <p></p>
        <div class="col-md-12">
          <table class="table table-bordered">
              <thead>
               <tr>
                 <th>Job Title</th>
                 <th>Company</th>
                 <th>Location</th>
                 <th>Job Link</th>
                 <th>Post Date</th>
                 <th>Job ID</th>
                 <th>Culture</th>
                 <th>Compensation</th>
                 <th>Work-Life</th>
                 <th>Career</th>
                 <th>Overall</th>
                 <th>Featured JobTitle</th>
                 <th>Featured Headline</th>
                 <th>Featured Overall</th>
               </tr>
             </thead>
             <tbody>
              <% locals[:postings].each do |job| %>
               <tr>
                 <td><%= job.title %></td>
                 <td><%= job.company %></td>
                 <td><%= job.location %></td>
                 <td><a href="<%= job.link %>">Link</a></td>
                 <td><%= job.post_date %></td>
                 <td><%= job.job_id %></td>
                 <td><%= job.culture %></td>
                 <td><%= job.compensation %></td>
                 <td><%= job.worklife %></td>
                 <td><%= job.career %></td>
                 <td><%= job.overall %></td>
                 <td><%= job.featjobTitle %></td>
                 <td><%= job.featheadline %></td>
                 <td><%= job.featoverall %></td>
               </tr>
              <% end %>
             </tbody>
          </table>
        </div>
      </div>
      <footer>
        <a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
      </footer>
    <% end %>
  </div>
</body>
</html>