<div class="main-container">
  <div class="search-container">
    <form action="search" method="post">
    <input type="text" name="search_text" class="search-bar">
    <div class="button-container">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>
<% unless @jobs.nil? %>
<h4 class="text-center">Search results for "<%= @search_text %>" near <%= session[:city].gsub("+", " ").gsub("%2C", ",") %></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Company</th>
      <th>Location</th>
      <th>Overall Rating</th>
      <th>Culture Rating</th>
      <th>Compensation Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each_with_index do |job, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= job["title"] %></td>
        <td><%= job["company"] %></td>
        <td><%= job["location"] %></td>
        <td><%= @reviews[job["company"]]["overallRating"] %></td>
        <td><%= @reviews[job["company"]]["cultureAndValuesRating"] %></td>
        <td><%= @reviews[job["company"]]["compensationAndBenefitsRating"] %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<% end %>