
<!doctype HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Dashboard</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container">
      <div class="row">
      <h4>Dashboard</h4>
      <h4>Enter Job Keywords and Location</h4>
      <form action="/" method="post">
        <label for="keywords">Keywords</label>
        <input type="text" id="keywords" name="keywords">
        <label for="location">Location</label>
        <input type="text" id="location" name="location">
        <input type="submit" value="Search">
      </form>
      <br><br><br>
      <%  if defined?(job_table) %>
        <h3><%="Jobs in #{job_table[0][1]}"%></h3>
      <% end %>
      <table class="table table-border table-striped">
        <tr>
          <th>Job Title</th>
          <th>Location</th>
          <th>Company</th>
          <% if defined?(company_ratings) && company_ratings[1] %>
            <th>Company Rating</th>
          <% end %>
          <th>Post Date</th>
          <th>Company ID</th>
          <th>Job Id</th>
          <th>Link</th>
        </tr>
        <%  if defined?(job_table) %>
          <% job_table.each do |row|  %>
            <tr>
              <td><%="#{row[0]}"%></td>
              <td><%="#{row[1]}"%></td>
              <td><%="#{row[2]}"%></td>
              <% if defined?(company_ratings)  && company_ratings[1] %>
                <% if company_ratings[0] == row[2] %>
                  <td>company_ratings[1]</td>
                <% end %>
              <% end %>
              <td><%="#{row[3]}"%></td>
              <td><%="#{row[4]}"%></td>
              <td><%="#{row[5]}"%></td>
              <!--<td><a href=<%="#{row[6]}"%>><%= row[0] %></a></td>-->
              <td><a href=<%="#{row[6]}"%>>Link </a></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</body>
</html>
