<!DOCTYPE html>
<html>
  <h1>Result</h1>
  <%job_list.each do |job|%>
  <ul>
    <li>JOB Title: <%=job[:jobTitle]%></li>
    <li>COMPANY NAME: <%=job[:companyName]%></li>
    <li>JOB LINK: <a href = <%=job[:jobLink].to_s%>>job link to dice</a> </li>
    <li>JOB LOCATION: <%=job[:location]%></li>
    <li>POST DATE: <%=job[:date]%></li>
  </ul>
  <form action="/company" method="get">
    <button type="submit" name="company" value = <%=job[:companyName]%>>Click Here to get company information</button>
  </form>
  <%end%>
</html>