<tr>
	<td><%= res[:title] %></td>
	<td><%= res[:cname] %></td>
	<td><%= res[:link] %></td>
	<td><%= res[:loc] %></td>
	<td><%= res[:date] %></td>
	<td><%= res[:cid] %></td>
	<td><%= res[:jid] %></td>
</tr>