<h1>Your Results for <%= city%>, <%= region %></h1>
<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Link</th>
    <th>Location</th>
    <th>Posting Date</th>
    <th>Dice ID</th>
    <th>Position ID</th>
  </tr>
  <tbody>
    <% get_results(q, l).each do |result| %>
        <tr>
            <% result.each_with_index do |value, index| %>
                <% if index == 2%>
                    <td><a href="<%= value %>" target="_blank">Job Link</a></td>
                <% else %>
                    <a href="<%= result[2] %>" target="_blank"><td><%= value %></td></a>
                <% end %>
            <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

