<div class="container">
<% if company %>
  <div class="page-header">
    <h1><a href="http://<%= company.website %>"><%=company.name%></a> <span class="label label-success"><%= company.rating %></span></h1>
  </div>

  <% if company.review %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Featured Review</h3>
      </div>
      <div class="panel-body">
        <h4><%= company.review.job_title%> <span class="label label-success"><%= company.review.rating%></span></h4>
        <hr>
        <h4>Pros</h4>
        <p><%= company.review.pros%></p>
        <h4>Cons</h4>
        <p><%= company.review.cons%></p>
      </div>
    </div>
  <% end %>

<% else %>

  <h2>Company not found.</h2>

<% end %>

<hr>

<a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
