<div class="container">
<% if company %>
  <div class="page-header">
    <h1><%= company.name%></h1>
  </div>  

  <p><%= company.website %></p>
  <p>Overall Rating: <span class="badge"> <%= company.rating %> </span></p>
  <p>Number of Ratings: <span class="badge"> <%= company.num_ratings %> stars </span></p>

  <% if company.review %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Employee Title: <%= company.review.job_title%></h2>
      </div>  
      <div class="panel-body">
        <p> <em>Review Rating:</em>  <%= company.review.rating%> stars</p>
        <p> <em>Pros:</em> <%= company.review.pros%></p>
        <p> <em>Cons:</em> <%= company.review.cons%></p>
      </div>
    </div>    
  <% end %>

<% else %>

  <h2>Company not found.</h2>

<% end %>

<hr>

<a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
